* {
  font-family: "Alumni Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:weight;
  font-style: normal;
}

* body {
  margin: 0vw;
  top: 0vw;
  background-color: rgb(20, 20, 20);
}

* p, a { 
  color: white;
}
  
@mixin menuline() {
  width: 3.5vw;
	height: 0.2vw;
  background-color: #DB3138;
}

@mixin diamonds() {
  width: 0.5vw;
	height: 0.5vw;
	background: #DB3138;
  transform: rotate(45deg);
}

@mixin contactsbox() {
  margin-top: 5.7vw;
  width: 34vw;
  height: 13vw;
  border-top: 0.1vw solid #898989;
  border-bottom: 0.1vw solid #898989;
}

@mixin conctacttext() {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin contactdescription() {
  color: #DB3138;
  font-size: 1.7vw;
}

@mixin contacttitle() {
  margin-top: 3vw;
  font-size: 1.4vw;
}

@mixin achievementsbox() {
  width: 17vw;
  height: 10vw;
  border: 0.1vw solid #898989;
}

@mixin  slidercarblock() {
  & img {
    width: 25vw;
    height: 21vw;
  }
}

@mixin choicedetailingtext() {
  display: flex;
  justify-content: center;
  & p {
    font-size: 1.5vw;
    margin-top: 0.8vw;
  }
}

li {
  list-style-type: none; 
  font-size: 1.5vw;
  }
  
.main-car__picturebacground img {
  position: absolute; 
  top: 0;
  left: 0; 
  height: 57vw;
  width: 100vw;
  opacity: 0.4;
  z-index: -1;
}
  
.nav__link {    
  text-decoration: none;
}
  
.nav__navbar {
  margin-left: 10vw;
  display: flex;
  text-decoration: none;
  gap: 3vw;
}
  
.nav__line-first {
  @include menuline();
}

.nav__line-second {
  @include menuline();
  margin-left: -10px;
}

.nav__line-third {
  @include menuline();
}
  
.nav__line {
  margin-right: 20vw;
  margin-top: 1vw;
  display: flex;
  flex-direction: column;
  gap: 0.5vw;
}

.nav { 
  margin-top: 1vw;
  display: flex;
  justify-content: space-between;
}

.main-car__hellotext{
  margin-top: -3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  & h1 {
    color: #DB3138;
    font-size: 11vw;
  }
}

.diamondsline__first {
  @include diamonds();
}

.diamondsline__second {
  @include diamonds();
}

.diamondsline__third {
  @include diamonds();
}

.diamondsline__fourth {
  @include diamonds();
}

.diamondsline {
  margin-top: -9vw;
  display: flex;
  gap: 3vw;
}

.description-first {
  font-size: 2vw;
}

.description-second {
  font-size: 2vw;
  margin-top: -2vw;
}

.main-car__description { 
  margin-top: 1vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.our__services-button {
  width: 7vw; 
  height: 3vw; 
  background: linear-gradient(90deg, #DB3138 70%, transparent 70%); 
  border: none; 
  font-size: 1.6vw; 
  white-space: nowrap;
  display: flex;
  align-items: center;
  transition: background-color 0.3s linear;
  &:hover {
    background-color: #DB3138;
  } 
}

.main-car__contacts-address {
  @include contactsbox();
  border-right: 0.1px solid #898989;
}

.main-car__contacts-telephone {
  @include contactsbox();
  border-right: 0.1px solid #898989;
  border-left: 0.1px solid #898989;
}

.main-car__contacts-operatingmode {
  @include contactsbox();
  border-left: 0.1px solid #898989;
}

.main-car__contacts {
  display: flex;
  align-items: center;
}

.adress__title {
  @include conctacttext();
}

.adress__title-text {
  @include contacttitle();
}

.adress__description{
  @include conctacttext();
}

.adress__description-textfirst{
@include contactdescription();
margin-top: -0.3vw;
}

.adress__description-textsecond {
@include contactdescription();
margin-top: -1.7vw;
}

.telephone__title {
  @include conctacttext();
}

.telephone-text {
  @include contacttitle();
}

.adresstelephone__description {
  @include conctacttext();
}

.adress__telephone-textfirst {
  @include contactdescription();
  margin-top: -0.3vw;
}

.adress__telephone-textsecond {
  @include contactdescription();
  margin-top: -1vw;
}

.operatingmode__title {
  @include conctacttext();
}

.operatingmode-text {
  @include contacttitle();
}

.adressoperatingmode__description {
  @include conctacttext();
}

.adressoperatingmode__description-textfirst {
  @include contactdescription();
  margin-top: -0.3vw;
}

.adressoperatingmode__description-textsecond {
  @include contactdescription();
  margin-top: -1vw;
}

.achievements__diamondsline {
  display: flex;
  gap: 2vw;
}

.achievements__title-text {
  font-size: 3.5vw;
}

.achievements__description-text {
  font-size: 1.3vw;
  margin-top: 4vw;
}

.achievements__box__title {
  display: flex;
  justify-content: center;
  margin-top: 0.2vw;
}

.achievements__box-first {
  @include achievementsbox();
}

.achievements__box-second {
  @include achievementsbox();
}

.achievements__box-third {
  @include achievementsbox();
}

.achievements__box-fourth {
  @include achievementsbox();
}

.achievements__box__title-texthashtag {
  color: #DB3138;
  font-size: 2vw;
}

.achievements__box__title-textnumber {
  color: #DB3138;
  font-size: 4vw;
  margin-top: 0.2vw;
}

.achievements__box__description {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: -5.5vw;
}

.achievements__box__description-textfirst{
  font-size: 1.2vw;
}

.achievements__box__description-textsecond {
  font-size: 1.2vw;
  margin-top: -1vw;
}

.achievements__page {
  margin-top: -11vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5vw;
}

.achievements__column {
  display: flex;
}

.achievements__column-right {
  margin-top: 28vw;
}

.achievements__column-left {
  margin-top: 25vw;

}

.achievements__box__titlepicture {
  margin-top: 0.8vw;
  display: flex;
  justify-content: center;
  img {
    width: 2.7vw;
    height: 3vw;
  }
}

.achievements__box__descriptionpicture {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slidercar__blockfirst {
  @include slidercarblock();
}

.slidercar__blocksecond {
  @include slidercarblock();
}

.slidercar__blockthird {
  @include slidercarblock();
}

.slidercar {
  display: flex;
  justify-content: center;
  gap: 3vw;
}

.slidercar__block {
  margin: auto;
  margin-top: -2.5vw;
  position: relative;
  z-index: 3;
  background-color: #DB3138;
  width: 23vw;
  height: 4.5vw;
}

.slider__block-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  & p {
    font-size: 1.4vw;
  }
}

.slider__secondline {
  margin-top: -1vw;
}

.slider__thirdline{
  margin-top: -1vw;
}

.swiper__square {
  width: 2vw;
  height: 2vw;
  border: 0.3vw solid #DB3138;
  transform: rotate(45deg);
  transition: background-color 0.2s linear;
  &:hover {
    background-color: #DB3138;
  } 
}

.arrow-left {
  margin-top: 0.575vw;
  margin-left: 0.575vw;
  width: 0.571vw;
  height: 0.571vw;
  border-bottom: 0.3vw solid #ffffff;
  border-right: 0.3vw solid #ffffff;
  transform: rotate(90deg);
}

.arrow-right {
  margin-top: 0.575vw;
  margin-left: 0.575vw;
  width: 0.571vw;
  height: 0.571vw;
  border-top: 0.3vw solid #ffffff;
  border-left: 0.3vw solid #ffffff;
  transform: rotate(90deg);
}

.slider__car {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3vw;
  margin-top: 7vw;
}

.recommendations__title {
display: flex;
gap: 2vw;
align-items: center;
}

.recommendations__title-picturematerials {

  & img {
    width: 3.5vw;
    height: 4.5vw;
  }
}

.recommendations__title-pictureexperience {

  & img {
    width: 4vw;
    height: 2.7vw;
  }
}

.recommendations__title-pictureguarantee {

  & img {
    width: 3.5vw;
    height: 3.5vw;
  }
}

.recommendations__title-text p {
  font-size: 2.1vw;
}

.recommendations__picture {
  & img {
    width: 35vw;
    height: 36vw;
  }
}

.recommendations__block {
  margin-top: 10vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5vw;
  margin-right: 5vw;
  gap: 15.5vw;
}

.recommendations__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1vw;
}

.recommendations__description-text {
  & p {
    font-size: 1.4vw;
  }
}

.recommendations__guarantee {
  margin-right: 4vw;
}

.recommendations__slider {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
}

.recommendations__slider-text {
  & p {
    font-size: 1.3vw;
  }
}

.services__title {
  margin-bottom: -4.5vw;
  & p {
    font-size: 3.5vw;
  }
}

.services__choice__blockpasting__text {
  @include choicedetailingtext();
}

.services__choice__blockpasting {
  width: 8.3vw;
  height: 3.3vw;
  background-color: #DB3138;
}

.services__choice__detailing {
  width: 8.3vw;
  height: 3.3vw;
  transition: background-color 0.2s linear;
  &:hover {
    background-color: #DB3138;
  } 
}

.services__choice__blockdetailing__text {
  @include choicedetailingtext();
}

.services__pastingblock {
  width: 15vw;
  height: 21vw;
  border: 0.1vw solid #898989;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.services__pastingblock__titletext {
  & p {
    font-size: 1.2vw;
    margin-bottom: -0.2vw;
  }
}

.services__pastingblock__titlepicture {
  & img {
    width: 3vw;
    height: 3vw;
    margin-bottom: -0.85vw;
  }
}

.services__pastingblock__description {
  & p{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1vw;
  }
}

.services__pastingblock__detailed {
  width: 5vw; 
  height: 2vw; 
  background: linear-gradient(90deg, #DB3138 51.7%, transparent 51.7%); 
  border: none; 
  font-size: 1vw; 
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s linear;
  &:hover {
    background-color: #DB3138;
  } 
}

.services__pastingblock__titlepicturecolorfilms {
  & img {
    width: 2.7vw;
    height: 3.5vw;
    margin-bottom: -0.85vw;
  }
}

.services__pastingblock__titlepicturedesign {
  & img {
    width: 3vw;
    height: 2vw;
    margin-bottom: -0.85vw;
  }
}

.services__pastingblock__titlepictureinteriorwrap {
  & img {
    width: 3.5vw;
    height: 3vw;
    margin-bottom: -0.85vw;
  }
}

.services__pasting {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
}

.services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3vw;
  margin-top: 2.5vw;
}

.services__choice {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
}